$header-height: 100px;
$footer-height: 75px;

.screen {
    display: flex;
    flex-direction: column;
    height: calc(100vh - ($header-height + $footer-height));
    box-sizing: border-box;
    overflow: hidden;
}

.screen-heading {
    position: relative;
    margin-top: 1.5%;
    margin-bottom: 3%;
    text-align: center;
}

.screen-body {
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}