.header-footer-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //isolation: isolate;
    //min-height: 105px;
    background-color: $primary-color;
    box-sizing: border-box;

    .header-cta {
        background-color: $accent-beta;
    }
    .header-cta-title {
        color: $primary-color;
    }
    .footer-cta {
        background-color:$accent-alpha;
    }
    .footer-cta-title {
        color: $white;
    }
    .header-nav-actions-container {
        display: flex;
    }
    .foota-actions-container {
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;
    }
}

.header-outer-container {
    height: $header-height;
    padding-left: 100px;
    padding-right: 100px;
}
.footer-outer-container {
    height: $footer-height;

    .legalities-text {
        color: $white;
        line-height: 24px;
    }
}

.hi-outer-container {
    cursor: pointer;
    transition: opacity 200ms ease-in;
    margin-right: 50px;

    .hi-on-select-border {
        border-top: 1px solid $white;
        transition: width 200ms ease-in;
    }
    .hi-title {
        color: $white;
        line-height: 30px;
    }
    &:last-child {
        margin-right: 0px;
    }
    &:hover {
        opacity: .9;
    }
}